*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
*{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

header{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px 4vh;
    height: 12vh;
    font-size: 3vh;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-weight: 600;
}

.navbar ul li .navCTA{
    background-color: #F2C747;
    padding: 0.7vh 2vh;
    border-radius: 50px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.navbar .logo img{
    height: 9vh;
}
.navbar li a{
    padding: 0px 3vh;
    text-decoration: none;
    color: white;
}

/* bubble section */
.hero{
    background-color: black;
    margin-top: 12vh;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.bubble{
    height: 40vh;
}

.heroText{
    margin-top: 5vh;
    width: 50vw;
}

.heroText p{
    font-size: 10vh;
    font-weight: 700;
    margin: 2vh 0;
}

.heroText p .accentText{
    color: #F2C747;
}

.discription{
    background-color: #F2C747;
    height: 88vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 0px 9vh;
}

.discription .discriptionText{
    width: 55vw;
}

.discription .discriptionText h1{
    font-size: 3.2vw;
    font-weight: 500;
    margin: 2vh 0;
}
.discription .discriptionText h1 span{
    font-weight: 900;
    font-style: italic;
}

.discription .discriptionText p{
    font-size: 1.2vw;
    font-weight: 400;
    margin: 2vh 0;
    text-align: justify;
    width: 40vw;
    margin-top: 3vh;
}

.discription .discriptionImage{
    width: 35vw;
}

.discription .discriptionImage img{
    height: 25vw;
}

.discription .discriptionCTA{
    margin-top: 8vh;
}

.discription .discriptionCTA a{
    background-color: #000;
    padding: 1vh 3vh;
    border-radius: 50px;
    color: #F2C747;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5vw;
}

/* working section */

.working{
    background-color: white;
    margin: 10vh 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    color: black;
}

.working h1{
    font-size: 3.2vw;
    font-weight: 900;
    margin: 2vh 0 0 0;
}

.workingSec{
    display: flex;
    justify-content: space-between;
    margin-top: 15vh;
    height: 80vh;
    width: 65vw;
}

.workingSecText{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width:35vw;
}

.workingSecText img{
    height: 11vh;
    width: 11vh;
}

.workingSecText div{
    margin-top: 15vh;
}

.workingSecText div h2{
    font-size: 2.3vw;
    font-weight: 700;
    margin: 2vh 0;
}

.workingSecText div p{
    font-size: 1.5vw;
    margin: 2vh 0;
    text-align: justify;
    width: 35vw;
    margin-top: 3vh;
    color:#444444;
}

.workingSecImage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    width: 30vw;
    align-items: flex-end;
}

.workingSecImage:nth-child(odd){
    align-items: flex-start;
}

.workingSecImage img{
    height: 80vh;
}

.emailSubmit{
    height: 88vh;
    display: flex;
}

.emailSubmit .emailSubmitLeft{
    width: 50vw;
    background-color: #F54C71;
    display: flex;
    flex-direction: column;
}

.emailSubmit .emailSubmitLeft h1{
    font-size: 10vh;
    font-weight: 700;
    width: 40vw;
    margin: 7vh 0 0 5vw;
    color: white;
}

.emailSubmit .emailSubmitLeft p{
    width: 40vw;
    margin: 10vh 0 0 5vw;
    font-size: 1.2vw;
    font-weight: 400;
    color: white;
}

.emailSubmit .emailSubmitLeft .accentText{
    color: #F2C747;
}

.emailSubmit .emailSubmitRight{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emailSubmit .emailSubmitRight .ear{
    display: flex;
    width: 40vw;
    height: 40vh;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh
}


.emailSubmit .emailSubmitRight div h1{
    width: 20vw;
    font-size: 6vh;
}

.emailSubmit .emailSubmitRight .emailSubmitForm{
    width: 40vw;
    margin-top: 15vh;
    display: flex;
    align-items: center;
}

.emailSubmit .emailSubmitRight .emailSubmitForm input{
    width: 36vw;
    height: 7vh;
    border: 1px solid #000;
    border-radius: 100px 0 0 100px;
    padding: 20px;
    color: #000;
    font-size: 1.5vw;
    font-weight: 400;
}

.emailSubmit .emailSubmitRight .emailSubmitForm button{
    width: 7vh;
    height: 7vh;
    border: 1px solid #000;
    border-radius: 0 100px 100px 0;
    font-size: 5vh;
    color: #F54C71;
    background-color: #000;
    cursor: pointer;
}

.commingSoon{
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #F2C747;
    font-size: 7vh;
    font-weight: 900;
    background: url("assets/imgs/commingSoon.png");
}